body, html {
    height: 100%;
    margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(53, 51, 204);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(25, 23, 151);
}
::-webkit-scrollbar-track {
    background-color: rgb(21, 28, 33);
}

/* Fondo */
.bg-image {
    background-image: url("../../assets/img/gtr_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Contendedor principal */
.custom-container {
    position: fixed;
    top: 0;

    background-color: rgba(40, 40, 40, 0.7); /* Fondo oscuro semi-transparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 65px 30px 30px;
    margin: 25px auto;
    max-width: 950px;
    color: white;
    border-radius: 10px;

    height: 90%;
    overflow: hidden;

    /* Logo */
    img {
        width: 40%;
    }

    .content {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    input {
        background-color: rgb(21, 21, 21);
        width: 100%;
        color: rgb(155, 155, 155);
        border: none;
    }

    input:focus {
        background-color: #3b3b3b;
        color: white;
    }

    input::placeholder {
        color: rgb(82, 82, 82);
    }


    button {
        display: block;
        width: 100%;
    }


    select {
        background-color: rgb(21, 21, 21);
        width: 100%;
        color: rgb(155, 155, 155);
        border: none;
    }
    
    select::focus {
        background-color: #3b3b3b;
        color: white;
    }
}



.custTable {
    width: 100%;
    background-color: rgb(61, 61, 61);
    margin-bottom: 10px;

    tr {
        border: solid 1px rgb(104, 104, 104);

        th {
            border: solid 1px rgb(104, 104, 104);
        }

        td {
            border: solid 1px rgb(104, 104, 104);
        }
    }

    #input-table {
        .columna1 {
            width: 5%;
        }
        .columna2 {
            width: 55%;
        }
        .columna3 {
            width: 30%;
        }
        .columna4 {
            width: 10%;
        }
    }

    #actives-table {
        .columna1 {
            width: 5%;
        }
        .columna2 {
            width: 65%;
        }
        .columna3 {
            width: 15%;
        }
        .columna4 {
            width: 15%;
        }
    }

    #distribution-table {
        .columna1 {
            width: 5%;
        }
        .columna2 {
            width: 85%;
        }
        .columna3 {
            width: 10%;
        }
    }

    #preoperatives-table {
        .columna1 {
            width: 1%;
        }
        .columna2 {
            width: 95%;
        }
        .columna3 {
            width: 4%;
        }
    }

    #operatives-table {
        .columna1 {
            width: 5%;
        }
        .columna2 {
            width: 40%;
        }
        .columna3 {
            width: 5%;
        }
        .columna4 {
            width: 40%;
        }
        .columna5 {
            width: 10%;
        }
    }
}


.custom-button-group {
    display: inline-flex;
    gap: 10px;
}

#top-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 6rem;
}