<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout preview</title>

    <!-- Estilos propios -->
    <link rel="stylesheet" href="assets/css/home.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body>

    <div class="bg-image d-flex justify-content-center align-items-center" id="login-register">
        <div class="custom-container text-center" id="form-container">
            <img src="assets/img/microsoft.png" alt="Mayasoft">
            
            <form id="form-destiny" action="src/php/register.php" method="post" onsubmit="validarRegistro()">
                <p class="h1 mb-3" id="form-title">Crear cuenta</p>
                <p class="h5 mb-4" id="form-toggle-text">¿Ya tienes tu propia cuenta? <a href="#" onclick="toggleForm(event)">Iniciar sesión</a></p>

                <input placeholder="Nombre de usuario" type="text" name="username" id="username" class="form-control mb-3">
                <input placeholder="Correo electrónico" type="email" name="email" id="email" class="form-control mb-3">
                <input placeholder="Contraseña" type="password" name="password" id="password" class="form-control mb-3">
                <input placeholder="Confirmar contraseña" type="password" name="confirm_password" id="confirm-password" class="form-control mb-3">
                <a onclick="togglePassword(event)" href="#">Mostrar contraseña</a>
                
                <button type="submit" class="btn btn-primary mt-3">Continuar</button>
            </form>

        </div>

    </div>

    <script>
        function togglePassword(evento) {
            event.preventDefault();
            const password = document.getElementById("password");
            const confirm_password = document.getElementById("confirm-password");

            if (password.type === "password"){
                password.setAttribute("type", "text");
                confirm_password.setAttribute("type", "text");
            } else {
                password.setAttribute("type", "password");
                confirm_password.setAttribute("type", "password");
            }

        }
    </script>

    <script>
        function toggleForm(event) {
            event.preventDefault();
            const formDestiny = document.getElementById('form-destiny');
            const formTitle = document.getElementById('form-title');
            const formToggleText = document.getElementById('form-toggle-text');
            const usernameInput = document.getElementById('username');
            const emailInput = document.getElementById('email');
            const passwordInput = document.getElementById('password');
            const confirmPasswordInput = document.getElementById('confirm-password');

            if (formTitle.textContent === "Crear cuenta") {
                formDestiny.setAttribute("action", "src/php/login.php");
                formDestiny.setAttribute("onsubmit", "return validarLogin()");
                emailInput.value = null;
                confirmPasswordInput.value = null;

                formTitle.textContent = "Iniciar sesión";
                formToggleText.innerHTML = '¿Aún no tienes tu propia cuenta? <a href="#" onclick="toggleForm(event)">Crear cuenta</a>';
                
                usernameInput.style.display = 'none';
                emailInput.style.display = 'block';
                passwordInput.style.display = 'block';
                confirmPasswordInput.style.display = 'none';
                emailInput.setAttribute("placeholder", "Correo electrónico");
                emailInput.setAttribute("name", "email");

            } else {
                formDestiny.setAttribute("action", "src/php/register.php");
                formDestiny.setAttribute("onsubmit", "return validarRegistro()");
                formTitle.textContent = "Crear cuenta";
                formToggleText.innerHTML = '¿Ya tienes tu propia cuenta? <a href="#" onclick="toggleForm(event)">Iniciar sesión</a>';
                
                usernameInput.style.display = 'block';
                emailInput.style.display = 'block';
                passwordInput.style.display = 'block';
                confirmPasswordInput.style.display = 'block';
                emailInput.setAttribute("placeholder", "Correo electrónico");
                emailInput.setAttribute("name", "email");
            }
        }
    </script>

    <script>
        function validarLogin() {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            if (!email || !password) {
                alert('Por favor, completa todos los campos.');
                return false; // Evita el envío del formulario si falta algún campo
            }
            return true; // Envía el formulario si todos los campos están completos
        }

        function validarRegistro() {
            const username = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmarPassword = document.getElementById('confirm-password').value;

            if (!username || !email || !password || !confirmarPassword) {
                alert('Por favor, completa todos los campos.');
                return false; // Evita el envío del formulario si falta algún campo
            }
            return true; // Envía el formulario si todos los campos están completos
        }
    </script>
    
</body>

</html>

<!-- Agregar al formulario de crear cuenta
    - Nombres y apellidos *
    - Fecha de  nacimiento
    - Ocupación (Estudiante/Profesionista) *
    - Estado, páis
    - Género
    - Teléfono para contacto
-->